.meeting-ai-analysis
  margin-top: 1rem

  &--results
    display: grid
    gap: 1rem
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr))

  &--result
    display: flex
    gap: 0.75rem

  &--result-content
    white-space: pre-line
